asgiref==3.8.1
attrs==25.3.0
click==8.2.1
Django==5.1.8
django-cors-headers==4.7.0
django-localflavor==4.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
drf-spectacular==0.28.0
grpcio==1.71.0
grpcio-tools==1.71.0
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
natsort==8.4.0
overrides==7.7.0
protobuf==5.29.3
python-decouple==3.8
python-stdnum==2.1
PyYAML==6.0.2
referencing==0.36.2
rest-framework-simplejwt==0.0.2
robotframework==7.2.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.5.1
robotframework-pythonlibcore==4.4.1
rpds-py==0.25.0
seedir==0.5.0
setuptools==80.8.0
sqlparse==0.5.3
typing_extensions==4.13.2
uritemplate==4.1.1
wrapt==1.17.2
